.cv {
  background-color: #11151c;
}
.hr {
  color: #ccff66;
  size: 3px;
  font-weight: 500;
}
.navbar {
  background-color: #11151c;
  color: #cecccc;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  box-shadow: 1px 1px 3px #ccff66;
}
.navbar-nav li a {
  text-decoration: none;
  color: #cecccc;
}
.navbar-brand {
  font-size: 2rem;
  color: #cecccc;
  text-decoration: none;
}
.navbar-toggler{
    color: #cecccc;
}
.fotoPerfil {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  box-shadow: 1px 1px 3px #cecccc;
}
.fotoPerfil:hover {
  width: 4.1rem;
  height: 4.1rem;
}
/* inicio seccion about */
.perfilAbout {
  width: 10rem;
  height: 10rem;
  clip-path: polygon(25% 0, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  border: #ccff66 2px solid;
  box-shadow: 1px 1px 3px #cecccc;
  padding-bottom: 2px;
 }
.perfilAbout:hover{
    width: 10.1rem;
    height: 10.1rem;
}
.about-descripcion {
  font-size: 1rem;
  color: #cecccc;
  text-align: center;
  padding-top: 2px;
  font-family: Helvetica, sans-serif;
}
.skills-bar {
  width: 600px;
  height: 30px;
  background: #ccff66;
  filter: grayscale(0.2);
  border-radius: 15px;
  padding: 25px 30px;
  box-shadow: 5px 5px 10px #cecccc;
  margin-bottom: 15px;
  margin-top: 30px;
  font-family: Helvetica, sans-serif;
}
.skills-bar:hover {
  background: #ccff66;
  filter: grayscale(0);
  filter: brightness(1);
  border: #f1e8b8 2px solid;
}
.skills-bar .bar {
  margin: 30px 0;
}
.skills-bar .bar:first-child {
  margin-top: 0px;
}
.skills-bar .bar .info {
  margin-bottom: 5px;
}
.skills-bar .bar .info span {
  font-size: 17px;
  font-weight: 500;
  font-family: Helvetica, sans-serif;
}
.skills-bar .bar .progress-line {
  position: relative;
  height: 20px;
  width: 100%;
  display: block;
  top: -40px;
}
.bar .progress-line span {
  width: 80%;
  height: 100%;
  background: #cecccc;
  position: absolute;
  border-radius: 15px;
  display: block;
  top: -40%;
}
.progress-line.html span {
  width: 95%;
}
.progress-line.css span {
  width: 80%;
}
.progress-line.flexbox span {
  width: 80%;
}
.progress-line.bootstrap span {
  width: 75%;
}
.progress-line.scrum span {
  width: 75%;
}
.progress-line.Java span {
  width: 25%;
}

.bar .progress-line span::after {
  position: absolute;
  content: "80%";
  right: -1%;
  top: -0px;
  color: #11151c;
  font-size: 12px;
  font-weight: bold;
  background: #cecccc;
  padding: 1px 8px;
  border-radius: 15px;
}
.progress-line.html span::after {
  content: "95%";
}
.progress-line.css span::after {
  content: "80%";
}

.progress-line.flexbox span::after {
  content: "80%";
}

.progress-line.bootstrap span::after {
  content: "75%";
}

.progress-line.scrum span::after {
  content: "75%";
}

.progress-line.Java span::after {
  content: "25%";
}
.eduexp .lista {
  list-style: none;
  border-left: 2px solid #ccff66;
  padding-left: 10px;
  margin-left: 10px;
  font-family: Helvetica, sans-serif;
}
.eduexp .lista li {
  position: relative;
  display: block;
  color: #cecccc;
  padding: 15px 10px;
  transition: 3s ease all;
}
.eduexp .lista li:hover {
  color: #f1e8b8;
}
.eduexp .lista li::before {
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  background: #ccff66;
  border: 2px solid #040faf;
  position: absolute;
  left: -17px;
  top: 19%;
  transform: rotate(45deg);
}
.tituloedu-exp {
  color: #cecccc;
  font-family: Helvetica, sans-serif;
}
/* inicio portfolio */
.card{
    background: #11151c;
    font-family: Helvetica, sans-serif;
}
.destino {
  background: url(/img/destino.png);
  width: 100%;
  height: 400px;
  filter: grayscale(1);
  font-family: Helvetica, sans-serif;
}
.destino:hover {
  filter: grayscale(0);
}
.proyecto-numero{
    font-size: 0.1px;
    width: 120px;
    height: 120px;
    font-family: Helvetica, sans-serif;
}
.proyecto-numero:hover{
    color: #ccff66;
    font-size: 100px;
    width: 120px;
    height: 120px;
    background: #11151c;
    display: flex;
    align-content: center;
    text-align: center;
}
.destino-descripcion {
  padding-top: 35px;
  padding-left: 15px;
  position: absolute;
  bottom: -12px;
  width: 200px;
  height: auto;
  background: #cecccc;
  color: #11151c;
  box-shadow: 3px 3px 5px #cecccc;
  font-family: Helvetica, sans-serif;
}
.boton-destino {
  height: 3px;
  text-align: center;
  align-content: center;
  background: #ccff66;
  filter: grayscale(0.2);
  border-radius: 15px;
  padding: 20px 50px;
  box-shadow: 3px 3px 5px #cecccc;
  font-family: Helvetica, sans-serif;
}
.tatoo {
  background: url(/img/tatoo.png);
  width: 100%;
  height: 400px;
  filter: grayscale(1);
}
.tatoo-descripcion{
    padding-top: 35px;
    padding-left: 15px;
    position: absolute;
    bottom: -12px;
    right: 15px;
    width: 200px;
    height: auto;
    background: #cecccc;
    color: #11151c;
    box-shadow: 3px 3px 5px #cecccc;  
    font-family: Helvetica, sans-serif;
}
.tatoo:hover {
  filter: grayscale(0);
}
.card-link {
  text-decoration: none;
  font-family: Helvetica, sans-serif;
}
.boton-tatoo {
  height: 5px;
  text-align: center;
  align-content: center;
  background: #ccff66;
  filter: grayscale(0.2);
  border-radius: 15px;
  padding: 20px 50px;
  box-shadow: 3px 3px 5px #cecccc;
  font-family: Helvetica, sans-serif;
}
.trap {
  background: url(/img/trap.png);
  width: 100%;
  height: 400px;
  filter: grayscale(1);
  font-family: Helvetica, sans-serif;
}
.trap:hover {
  filter: grayscale(0);
}
.boton-trap {
  height: 5px;
  text-align: center;
  align-content: center;
  background: #ccff66;
  filter: grayscale(0.2);
  border-radius: 15px;
  padding: 20px 50px;
  box-shadow: 3px 3px 5px #cecccc;
  font-family: Helvetica, sans-serif;
}
/* estilos footer */
.boton-flotante{
    position: relative;
  }
 .boton-flotante .navbar{
    position: absolute;
    width: 100%;
    top: -135px;
    transform: scale(1, 0);
    transform-origin: bottom;
    transition: transform 100ms ease-in-out;
  }
  
  .boton-flotante .navbar  a {
    opacity: 0;
  }
  .navbar-checkbox{
    display: none;
  }
  .navbar-checkbox:checked ~ .navbar{
    transform: scale(1, 1);
  }
  
  .navbar-checkbox:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out;
  }
  
  .boton-nav-flotante{
    position: absolute;
    right: 2em;
    margin-top: 0.5em;
    height: 2em;
    width: 2em;
    font-size: 1.5em;
    border: #ccff66 2px solid;
    border-radius: 25em;
    background-color:#11151c;
    background-blend-mode:  difference;
    color: #fff;
    box-shadow: 0 0 2em rgba(0, 0, 0, .5);
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 10000;
  }
  footer {
    height: 200px;
    position: relative;
    overflow: hidden;
    font-family: Helvetica, sans-serif;
    font-weight: 500;
  }
  footer p{
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    
  }
 #botonArriba{
    position: absolute;
    height: 3em;
    width: 3em;
    font-size: 1em;
    text-decoration: none;
    color: #11151c;
    filter: grayscale(0.8);
    background-color: #ccff66;
    border:#11151c 1px solid ;
    border-radius: 50%;
    display: grid;
    place-items: center;
    right: 4em;
    bottom: 0;
    z-index: 10000;
  }
  #botonArriba:hover{
    height: 3.1em;
    width: 3.1em;
  }
   footer .redes a {
    background: #11151c;
    color: #ccff66;
    border:#ccff66 1px solid ;
    border-radius: 60%;
    font-size: 2em;
    margin: 2px;
    padding: 0 0.5em;
    z-index: 999;
  }
  footer .redes a:hover{
      color: #ccff66;
      font-size: 3.2em;
  }
  .lista-redes{
      padding-left: 3px;
  }
  .trianguloArriba {
    background: #11151c;
    clip-path: polygon(100% 0, 100% 8%, 35% 100%, 0 100%, 0 0);
    position: absolute;
    top: 0;
    height: 100%;
    width: 160vw;
    transition: all ease 1s;
    z-index: -100;
    font-family: Helvetica, sans-serif;
  }
  
  .trianguloAbajo {
    background: linear-gradient(270deg, #cecccc, #ccff66);
    position: absolute;
    top: 0;
    height: 100%;
    width: 110%;
    left: -30px;
    transition: all ease 1s;
    z-index: -200;
    font-family: Helvetica, sans-serif;
  }
 footer img {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    margin-bottom: 0.3em;
    
  }
  footer img:hover {
    height: 4.2em;
    width: 4.2em;
    border-radius: 50%;
    margin-bottom: 0.3em;
    border:#ccff66 1px solid ;
 }
  
  
  
  @media (max-width: 760px) {
    .triangulo {
      clip-path: polygon(100% 0, 100% 0%, 0% 50%, 0% 0%, 0 0);
    }
  }
  
  @media (min-width: 761px) {
    .triangulo {
      clip-path: polygon(100% 0, 100% 8%, 35% 100%, 0 100%, 0 0);
    }